:root {
    --primary-color:#f3f3f3;
    --secondary-color: #276279;
    --accent1-color: #264653;
    --accent2-color: #285263;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color:var(--accent1-color);
}

/*** GLOBAL LAYOUT WIDTHS ***/
header, main, footer {
    max-width: 840px;
    width: 100%;
    margin: 0 auto;
}

/*** HEADER ***/
header {
    display: grid;
    align-items: center;
    grid-template-columns: 270px 1fr;
    background-color: #276279;
    padding: 20px;
    gap: 20px;
}

header img {
    height: 10em;
    margin-left: 40px;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

header li {
    padding: 10px 20px;
    border: 1px solid #276279;
    background-color: #fff;
    text-align: center;
    flex: 1;
}

/*** MAIN TITLE ***/
.contact-page h1 {
    width: 100%;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
    padding: 16px;
    margin-top: 30px;
}

/*** CONTACT SECTION GRID ***/
.contact-container {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 20px;
    margin: 40px 0;
}

/*** MAP ***/
.contact-page .map-box img {
    width: 100%;
    border: 2px solid #ccc;
}

/*** FORM ***/
.contact-page .contact-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contact-page .contact-form label {
    font-weight: bold;
}

.contact-page .contact-form input,
.contact-page .contact-form textarea {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.contact-page .grid-container {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 20px 10px;
}

/*** RADIO AND CHECKBOX ***/
.message-purpose-options {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.checkbox-label,
.radio-label {
    display: flex;
    align-items: center;
    gap: 6px;
}

/*** BUTTON ***/
.contact-page .contact-form button {
    padding: 12px;
    background: #ccc;
    border: 2px solid #aaa;
    cursor: pointer;
    font-weight: bold;
}

/*** EMPLOYEES SECTION ***/
.employes-container {
    width: 100%;
    border: 2px solid #111;
    margin-top: 40px;
}

.employes-container h2 {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 10px;
}

.employes-images {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.employes-container img {
    height: 8em;
    border: 2px solid #111;
}

/*** FOOTER ***/
footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-color: var(--accent2-color);
    padding: 20px;
    margin-top: 40px;
}
