:root{
--primary-color:#f3f3f3; /* forest green */
--secondary-color: #276279;
--accent1-color: #264653;
--accent2-color: #285263;
--heading-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--heading-font);
    color:var(--accent1-color);
}

header, main, footer{
    width: 840px;
    margin: 0 auto;
}
    
header nav a{
    text-decoration: none;
}

h1, h2{
    color: var(--primary-color);
}

nav, p, section, article{
    margin: 16px;
    padding: 8px;
}

.socialmedia a{
    text-decoration: none;
}

.hero{
    position: relative;
}

.hero h1, article{
    position: absolute;
}

article{
    margin-top: -170px;
    opacity: 0.68;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img{
    float: right;
    width: 125px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section h2{
    width: 100%;
    text-align: center;
    background-color: var(--secondary-color);
}


footer{
    display: flex;
    align-items: center;
    color: #fff;
    opacity: 0.8;
    background-color: var(--accent2-color);
}

footer img{
    margin: 10px;
    height: 70px;
}