:root{
--primary-color:#f3f3f3; /* forest green */
--secondary-color: #276279;
--accent1-color: #264653;
--accent2-color: #285263;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns:1fr;

    margin: 1rem auto;
    font-family: var(--heading-font);
    color:var(--accent1-color);
    font-family: Helvetica, Arial, sans-serif;
}

header{
    display: grid;
    align-items: center;
    grid-template-columns: 270px 1fr;
    background-color: #d9c9f0;
    border: 2px solid #111;
    padding: 20px;
    gap: 20px;
}

header nav ul{
    display: flex;

    justify-content: space-around;
    list-style: none;
}

header li{
    padding: 10px 20px;
    border: 1px solid #276279;
    background-color: #fff;
    text-align: center;
    flex: 1;
}

header nav a{
    text-decoration: none;
    font-size: .7em;
    color: var(--accent1-color);
    font-weight:700;
    text-align: center;
}

header, main, footer{
    width: 840px;
    margin: 0 auto;
}

header img{
    margin-left: 40px;
    height: 10em;
}

h1, h2{
    color: var(--primary-color);
}

nav, p, section, article{
    margin: 16px;
    padding: 8px;
}

.socialmedia a{
    text-decoration: none;
}

main{
    margin-top: 30px;
}

.hero{
    position: relative;
    border: 2px solid #111;
}

.hero h1{
    position: absolute;
}

.hero article{
    position: absolute;
}

article{
    margin-top: -170px;
    opacity: 0.68;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img{
    float: right;
    width: 125px;
}

.history{
    width: 100%;
    margin-left: -1px;

    border: 2px solid #111;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

section h2{
    width: 100%;
    text-align: center;
    background-color: var(--secondary-color);
}

.adventure{
    height: 12vw;
    width: 100%;

    margin-left: -1px;
    border: 2px solid #111;
}

.adventure-images{
    display: grid;
    place-items: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    grid-template-columns: repeat(5, 1fr);
}

.adventure img{
    height: 50px;
}

.figure-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    opacity: 0.8;
    border: 2px solid #111;
    background-color: var(--accent2-color);
}

footer img{
    margin: 10px;
    height: 50px;
}